<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link rel="icon" href="{% static 'Enrollment/images/favicon.ico' %}">


  <title>MasTec México</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>



  <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>

  <nav class="grey darken-4">
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo">MasTec México</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Login/Logout</a></li>
        <li><a href="#">Link 2</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Login/Logout</a></li>
        <li><a href="#">Link 2</a></li>
      </ul>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center indigo-text text-darken-4">MasTec México</h1>
      <div class="row center">
        <h5 class="header col s12 light">Sistema de Administración De Información</h5>
      </div>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 l4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Enrollment</h5>

            <p class="light">
              <div class="row center">
                <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light light-blue darken-1">Enrollment</a>
              </div>
            </p>

          </div>
        </div>

        <div class="col s12 l4 center">
          <div class="icon-block">
            <h2 class="light-blue-text"><i class="material-icons">navigation</i></h2>
            <h5>Proyecto 2</h5>

            <p class="light"><div class="row center">
                <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large disabled">Proyecto 2</a>
              </div></p>
          </div>
        </div>

        <div class="col s12 l4 center">
          <div class="icon-block">
            <h2 class="light-blue-text"><i class="material-icons">place</i></h2>
            <h5 >Proyecto 3</h5>

            <p class="light">
                <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large disabled">Proyecto 3</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>






<!-- Inicia Sección de breadcrumb y login -->


  <div class="container">

      <!-- Breadcrumb -->
      <nav>
        <div class="nav-wrapper grey darken-2">
          <div class="col s12">
            <a href="#!" class="breadcrumb">Inicio</a>
            <a href="#!" class="breadcrumb">Enrollment</a>
            <a href="#!" class="breadcrumb">Alta</a>
          </div>
        </div>
      </nav>
      <!-- Termina Breadcrumb -->



    <!--   Inicia Sección de Login   -->
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
            Nada aquí >>>>>>>>>>>
        </div>

        <div class="col s12 m4">
          
          <form class="col s12 card-panel hoverable grey lighten-3 esq_redonda">

            <div class="row">
              <h5 class="indigo-text text-darken-4 center">Login</h5>
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input placeholder="Email" id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
            
            <div class="row">
              <div class="input-field col s12 black-text">
                <i class="material-icons prefix">lock</i>
                <input id="password" type="password" class="validate">
                <label for="password">Constraseña</label>
                <a class="waves-effect waves-light btn light-blue darken-1">INGRESAR</a>
              </div>
            </div>
          </form>
        </div>

        <div class="col s12 m4">
          ada aquí
        </div>

      </div>
    </div>
    <br><br>
  </div>
  <!-- Termina Sección de breadcrumb y login -->



  
   <div class="container">

        <!-- Inicia boton dropdown -->
        <!-- Dropdown Trigger -->
        <a class='dropdown-button btn light-blue darken-1' href='#' data-activates='x282'><i class="material-icons right">keyboard_arrow_down</i>Enrollment</a>

        <!-- Dropdown Structure -->
        <ul id='x282' class='dropdown-content'>
          <li><a class="light-blue-text text-darken-4" href="http://materializecss.com/dropdown.html"><i class="material-icons left">person_add</i>Alta Usuario</a></li>
          <li><a class="light-blue-text text-darken-4" href="#!"><i class="material-icons left">search</i>Buscar</a></li>
          <li class="divider"></li>
          <li><a class="red-text text-lighten-2" href="#!"><i class="material-icons">delete</i>Eliminar Usuario</a></li>
          <li><a class="red-text text-lighten-2" href="#!"><i class="material-icons left">delete</i>Empresa</a></li>
        </ul>
        <!-- Termina boton dropdown -->

        <!-- Iniciar Acordeon -->
          <ul class="collapsible" data-collapsible="expandanble">
            <li>
              <div class="collapsible-header indigo darken-4 white-text active"><i class="material-icons">filter_drama</i>Datos Generales</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header indigo darken-4 white-text"><i class="material-icons">keyboard_arrow_down</i>YASC</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header indigo darken-4 white-text"><i class="material-icons">whatshot</i>Third</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
          </ul>
        <!-- Termina Acordeon -->


    <br><br>
  </div>
  



  <footer class="page-footer grey darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col s4">
            @Copyright MasTec México
          </div>
          <div class="col s8">
            Realizado con: 
            <a class="orange-text text-lighten-3" href="http://materializecss.com">Materializecss</a> |
            <a class="orange-text text-lighten-3" href="https://www.djangoproject.com/">Django</a> |
            <a class="orange-text text-lighten-3" href="https://www.python.org/">Python</a>
          </div>
        </div>  
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script type="text/javascript">
    $( document ).ready(function(){
          $(".button-collapse").sideNav();
      });
  </script>
  

  </body>
</html>
